@page "/newstudent"
<MudPaper Class="pa-16 " Elevation="3">
    <MudText Typo="Typo.h4">
        <span class="bahij-nassim-bold">نوی زده کوونکی</span>
    </MudText>
    <MudForm>
        <MudGrid>
            <MudItem md="4">
                <MudLocalizedTextField Label="آیډي" Required RequiredError="د زده کوونکي آيډي نمبر" ReadOnly/>
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="اساس نمبر"/>
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="نوم" Required RequiredError="نوم حتمي دی " />
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="د پلار نوم" Required RequiredError="د پلار نوم حتمي دی " />
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="د نیکه نوم" />
            </MudItem>
            <MudItem md="4">
                <MudRadioGroup T="bool">
                    <MudRadio Value="true" Color="Color.Primary">نارینه</MudRadio>
                    <MudRadio Value="false" Color="Color.Secondary">ښځینه</MudRadio>
                </MudRadioGroup>
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="تذکره " />
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="موبایل شمېره " />
            </MudItem>
            <MudItem md="4">
                <MudLocalizedTextField Label="کورنۍ شمېره " />
            </MudItem>
            <MudItem md="4" xs="12">
                <MudFileUpload T="IBrowserFile" Accept=".jpg" FilesChanged="UploadFiles">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@context.Id">
                            عکس انتخاب کړی
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudItem>
        </MudGrid>
        <MudPaper Class="my-8" Elevation="0">
            <MudButton Variant="Variant.Filled" Color="Color.Primary">ثبت</MudButton>
        </MudPaper>
    </MudForm>
</MudPaper>

@code{
    IList<IBrowserFile> files = new List<IBrowserFile>();

    private void UploadFiles(IBrowserFile file)
    {
        files.Add(file);
    }
}