@page "/transport"
@inject IDialogService DialogService
<MudPaper Class="pa-5 ma-8" Elevation="3">
    <MudPaper Elevation="0">
        <MudForm>
            <MudGrid Class="mb-1">
                <MudItem>
                    <MudItem>
                        <MudLocalizedSelect Label="پلټني ډول">
                            <MudSelectItem Value="0">آیډی</MudSelectItem>
                            <MudSelectItem Value="1">نوم</MudSelectItem>
                            <MudSelectItem Value="2">د پلار نوم</MudSelectItem>
                            <MudSelectItem Value="3">د نیکه نوم</MudSelectItem>
                            <MudSelectItem Value="4">موبایل</MudSelectItem>
                            <MudSelectItem Value="5">تذکره</MudSelectItem>
                        </MudLocalizedSelect>
                    </MudItem>
                </MudItem>
                <MudItem>
                    <MudLocalizedTextField Label="پلټنه" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Secondary" />
                </MudItem>
                <MudItem>
                    <MudButton Disabled="@_searchProcess" OnClick="SearchProcessSomething" Variant="Variant.Filled" Color="Color.Primary">
                        @if (_searchProcess)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        }
                        else
                        {
                            <MudText>پلټنه</MudText>
                        }
                    </MudButton>
                </MudItem>
                <MudItem>

                    <MudLocalizedSelect Text="ټولګۍ انتخاب کړۍ">
                        <MudSelectItem Value="0">لومړۍ ټولګۍ</MudSelectItem>
                        <MudSelectItem Value="1">دوهم ټولګۍ</MudSelectItem>
                        <MudSelectItem Value="2">درېيم ټولګۍ</MudSelectItem>
                        <MudSelectItem Value="3">څلورم ټولګۍ</MudSelectItem>
                    </MudLocalizedSelect>

                </MudItem>
            </MudGrid>
        </MudForm>
    </MudPaper>
    <MudSimpleTable Hover="true" Style="overflow-x: auto;" FixedHeader="true" Dense="true">
        <thead class="bahij-nassim-bold">
            <tr>
                <th>آیډي</th>
                <th>مکمل نوم او د پلار نوم</th>
                <th>ټولګۍ</th>
                <th>د ټرانسپورټ اصلي مبلغ</th>
                <th>د ټرانسپورټ اخیستل سوی مبلغ</th>
                <th>د ټرانسپورټ پاته مبلغ</th>
            </tr>
        </thead>
        <tbody class="bahij-nassim-regular">
            <tr>
                <td>123</td>
                <td>احمد روحاني</td>
                <td>لومړی ټولګی</td>
                <td>
                    <MudLocalizedNumericField Min="0" />
                </td>
                <td>
                    <MudLocalizedNumericField Min="0" />
                </td>
                <td>
                    <MudLocalizedNumericField Min="0" />
                </td>
            </tr>
            <tr>
                <td>123</td>
                <td>احمد روحاني</td>
                <td>لومړی ټولګی</td>
                <td>
                    <MudLocalizedNumericField Min="0" />
                </td>
                <td>
                    <MudLocalizedNumericField Min="0" />
                </td>
                <td>
                    <MudLocalizedNumericField Min="0" />
                </td>
            </tr>
            <tr>
                <td>123</td>
                <td>احمد روحاني</td>
                <td>لومړی ټولګی</td>
                <td>
                    <MudLocalizedNumericField Min="0" />
                </td>
                <td>
                    <MudLocalizedNumericField Min="0" />
                </td>
                <td>
                    <MudLocalizedNumericField Min="0" />
                </td>
            </tr>
        </tbody>
    </MudSimpleTable>
    <MudButton Disabled="@_saveProcess" OnClick="SaveProcessSomething" Variant="Variant.Filled" Class="my-4" FullWidth="true" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary">
        @if (_saveProcess)
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
        }
        else
        {
            <MudText>ټول ثبت</MudText>
        }
    </MudButton>
</MudPaper>