@page "/branches"
<MudForm >
    <MudGrid>
        <MudItem>
            <MudLocalizedTextField Label="څانګي نوم" />
        </MudItem>
        <MudItem>
            <MudLocalizedTextField Label="ادرس"/>
        </MudItem>
        <MudItem>
            <MudButton Class="bahij-nassim-regular" Color="Color.Primary" Variant="Variant.Filled">ثبت</MudButton>
        </MudItem>
    </MudGrid>
</MudForm>
<MudSimpleTable Class="my-5" Elevation="3">
    <thead class="bahij-nassim-bold">
        <tr>
            <th>شمېره</th>
            <th>څانګي نوم</th>
            <th>ادرس</th>
            <th>عملیه</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bahij-nassim-regular">
            <td>1</td>
            <td>لومړی څانګه</td>
            <td>کندهار</td>
            <td>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                    <MudMenuItem Class="bahij-nassim-regular">تغیر</MudMenuItem>
                    <MudMenuItem Class="bahij-nassim-regular">غیر فعال</MudMenuItem>
                    <MudMenuItem Class="bahij-nassim-regular">یوزران</MudMenuItem>
                </MudMenu>
            </td>
        </tr>
    </tbody>
</MudSimpleTable>