@page "/classes"
<MudPaper Class="ma-16" Elevation="0">
    <MudGrid >
        <MudItem md="6" lg="6">
            <MudPaper Class="pa-4">
                <MudForm>
                    <MudStack>
                        <MudTextField T="string" Label="ټولګۍ نوم" Required="true" RequiredError="ټولګۍ نوم حتمي دی" />
                        <MudTextField T="string" Label="ټولګۍ وخت" />
                        <MudSelect Dense="true" T="string" Label="څانګه" Variant="Variant.Filled">
                            <MudSelectItem Value="@("لومړی څانګه")" />
                            <MudSelectItem Value="@("دوهمه څانګه")" />
                            <MudSelectItem Value="@("درېیمه څانګه")" />
                        </MudSelect>
                        <MudGrid>
                            <MudItem>
                                <MudButton Variant="Variant.Filled" Color="Color.Primary">ثبت</MudButton>
                            </MudItem>
                            <MudItem>
                                <MudButton Variant="Variant.Filled" Color="Color.Secondary">لغوه</MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudStack>
                </MudForm>

            </MudPaper>
        </MudItem>
        <MudItem md="6" lg="6">
            <MudPaper Elevation="0">
                <MudSimpleTable Hover="true" Style="overflow-x: auto;" Elevation="0">
                    <thead class="bahij-nassim-bold">
                        <tr>
                            <th>شمېره</th>
                            <th>ټولګی</th>
                            <th>عملیه</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bahij-nassim-regular">1</td>
                            <td>
                                <MudLink Href="#"><span class="bahij-nassim-regular">لومړی ټولګی</span></MudLink>
                            </td>
                            <td>
                                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Edit" Color="Color.Primary"><span class="bahij-nassim-regular">تغیر</span></MudButton>
                            </td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudPaper>