@page "/studentslist/{ClassId:int}"
@inject IDialogService DialogService
<MudStack Class="pa-6">
    <MudPaper Class="pa-3">
        <MudButton OnClick="ShowNewStudentDialog" Variant="Variant.Filled" Color="Color.Primary">نوي زده کوونکي</MudButton>
    </MudPaper>
    <MudPaper Class="pa-3">
        <MudSimpleTable Hover="true" Style="overflow-x: auto;" Dense="true" Elevation="0">
            <thead class="bahij-nassim-bold">
                <tr>
                    <th>آیډي</th>
                    <th>مکمل نوم</th>
                    <th>د پلار نوم</th>
                    <th>فیس مبلغ</th>
                    <th>عملیه</th>
                </tr>
            </thead>
            <tbody class="bahij-nassim-regular">
                <tr>
                    <td>123</td>
                    <td>احمد روحاني</td>
                    <td>حاجي صاحب</td>
                    <td>250</td>
                    <td>
                        <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                            <MudMenuItem OnClick="@(e => ShowDeleteDialog(15))">
                                <span class="bahij-nassim-regular">حذف</span>
                            </MudMenuItem>
                            <MudMenuItem OnClick="@(e => ShowMoveStudentDialog(15))">
                                <span class="bahij-nassim-regular">انتقال</span>
                            </MudMenuItem>
                            <MudMenuItem OnClick="@(e => ShowEditFeesDialog(10))">
                                <span class="bahij-nassim-regular">فیس تغیر</span>
                            </MudMenuItem>
                        </MudMenu>
                    </td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudPaper>
</MudStack>