@font-face {
    font-family: 'Bahij-nassim-regular';
    src: url('../bahij-nassim/Bahij Nassim-Regular.ttf');
}

@font-face {
    font-family: 'Bahij-nassim-bold';
    src: url('../bahij-nassim/Bahij Nassim-Bold.ttf');
}

.bahij-nassim-regular
{
    font-family : Bahij-nassim-regular;
}
.bahij-nassim-bold 
{
    font-family : Bahij-nassim-bold;
}